doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1" 
    )
    title HTMX Learning Test
    link(href="/styles/style.css", rel="stylesheet")
    script(
      src="https://unpkg.com/htmx.org@2.0.3" 
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" 
      crossorigin="anonymous"
    )
    if (serverSettings && serverSettings.enableLiveReload)
      //- Load the live-reload script from the live reload server
      script(
        src="//localhost:35729/livereload.js?snipver=1"
        async=""
        defer=""
      )
      script(
        src="/js/dev-tools.js"
      )

  body(class='bg-secondary-50 dark:bg-stone-800')
    .min-h-screen.flex.flex-col
      header.bg-primary-600.text-zinc-50.p-4.font-bold
        | Hello HTMX

      div#body-root.flex-grow.flex.items-stretch.flex-col(hx-swap-oob='true')
        block content

      footer.bg-primary-600.text-white.p-4.border-t.border-primary-800
        | Footer content

    script
      | document.body.addEventListener('htmx:beforeSwap', function(evt) {
      |  // Allow 422 and 400 responses to swap
      |  // We treat these as form validation errors
      |  if (
      |     // evt.detail.xhr.status === 422 || 
      |     evt.detail.xhr.status === 400
      |  ) {
      |    evt.detail.shouldSwap = true;
      |    evt.detail.isError = false;
      |  }
      | });
